<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="y2teckapi.resources.ExtentReporterNG"/>
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="y2teckapi.LogInApi">
            </class>
            <class name="y2teckapi.SessionTime">
            </class>
            <class name="y2teckapi.GenerateOtp">
            </class>
            <class name="y2teckapi.EnterOtpNumber">
            </class>
            <class name="y2teckapi.UsersPage">
            </class>

        </classes>
    </test>
</suite>